/* Styles for Services Page */

.icon {
	display: none;
}

.img-container {
	width: 100%;
}

.img-container img {
	width: 100%;
}

.intro {
	margin: 1em 0;
	padding: 2em 0;
	border-bottom: 1px solid black;
	line-height: 1.25em;
}

.intro h1 {
	font-size: 1.75em;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 2em auto;
	
}

main section {
	width: 48%;
	border: 1px solid black;
	margin-bottom: 2em;
	padding: 1em;
	background: rgb(236, 231, 231);
	
}

main section p {
	margin-bottom: 1em;
	line-height: 1.25em;
}

main section .button h4 {
	margin: 0;
	padding: 0.5em;
	border: 1px solid black;
	width: 50%;
	font-family: 'Titillium Web', sans-serif;
	border-radius: 3px;
	background: white;
	text-align: center;
}

.button h4:hover {
	animation-name: pulse;
	animation-duration: 4s;
	cursor: pointer;
}

.facts {
	border-top: 1px solid black;
	margin: 2em 0 4em 0;
	padding-top: 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.facts-text {
	width: 48%;
}

.facts-text h2 {
	padding-bottom: 0.5em;
}

.facts-text p {
	padding-bottom: 1em;
	line-height: 1.25em;
}

.facts-text ul {
	list-style-type: square;
	list-style-position: inside;
	line-height: 2em;

}

.facts-img {
	width: 48%;
}

.services-info-img {
	max-width: 100%;
}

@media only screen and (max-width: 750px) {
	/* For mobile devices */
	
	body {
		width: 95%;
	}

	.icon {
		display: block;
		color: black;
		font-size: 2rem;
		padding-top: 1rem;
		padding-left: 1rem;
	}
	
	nav {
		display: none;
		flex-flow: column nowrap;
		justify-content: space-between;
	}
	
	nav a {
		font-size: 1.25rem;
		padding: 0.25rem 1rem;
		width: 100%;
		border: 1px solid gray;
		margin-bottom: 0.25rem;
		
	}

	nav a:hover {
		animation-name: pulse;
	}

    main, main section, .facts-text, .facts-img {
        width: 100%;
	}
	
	main {
		flex-flow: column nowrap;
	}

}